form#form-task.form-inline.books(action='/books/cities', method= 'GET')
  .form
    .main
      input(type='text', id='city', name='city', placeholder='여행하려는 도시명을 입력하세요')
      .sub
      


  .actions
      button#post-task.btn.btn-primary.btn-lg.btn-block 숙소 목록 검색

ul.tasks

//- .no-task 
//-   .alert.alert-info 검색 결과가 없습니다.
//- script#task-template(type='text/template').
//-   <li class='task <%= doneStr %>' data-id='<%= id %>'>
//-     <span class='check'>
//-       <i class='fa fa-check fa-lg'></i>
//-     </span>
//-     <span class='content'><%=content %></span>
//-     <% if (category) { %>
//-       <span class='label label-default category'> 
//-         <%= category %>
//-       </span>
//-     <% } %>
//-     <span class='priority p<%= priority %>'>
//-       <%= (priority === 3) ? "중요" : ((priority === 1) ? "사소": "보통") %>
//-     </span>
//-     <a href='#' class='remove'><i class='fa fa-trash-o'></i></a>
//-   </li>
      
script.
  $(function() {
    var todo = new TaskController();    
  });
