form#form-task.form-inline.books(action='/books/cities', method= 'GET')
  .form
    .main
      input(type='text', id='city', name='city', placeholder='여행하려는 도시명을 입력하세요')
    .sub
      .form-group
        select.form-control(name='person')
          option(value='0') 인원수
          option(value='1') 1명
          option(value='2') 2명
          option(value='3') 3명
          option(value='4') 4명
      label(for='spacebar') 　
      label(for='begin') CheckIn
      .form-group
        select.form-control(name='beginMonth')
          option(value='1', selected) 1월
          option(value='2') 2월
          option(value='3') 3월
          option(value='4') 4월
          option(value='5') 5월
          option(value='6') 6월
      .form-group
        select.form-control(name='beginDay')
          option(value='1', selected) 1일
          option(value='2') 2일
          option(value='3') 3일
          option(value='4') 4일
          option(value='5') 5일
          option(value='6') 6일
          option(value='7') 7일
          option(value='8') 8일
          option(value='9') 9일
          option(value='10') 10일
          option(value='11') 11일
          option(value='12') 12일
          option(value='13') 13일
          option(value='14') 14일
          option(value='15') 15일
          option(value='16') 16일
          option(value='17') 17일
          option(value='18') 18일
          option(value='19') 19일
          option(value='20') 20일

      label(for='spacebar') 　
      label(for='end') CheckOut
      .form-group
        select.form-control(name='endMonth')
          option(value='1', selected) 1월
          option(value='2') 2월
          option(value='3') 3월
          option(value='4') 4월
          option(value='5') 5월
          option(value='6') 6월
      .form-group
        select.form-control(name='endDay')
          option(value='1', selected) 1일
          option(value='2') 2일
          option(value='3') 3일
          option(value='4') 4일
          option(value='5') 5일
          option(value='6') 6일
          option(value='7') 7일
          option(value='8') 8일
          option(value='9') 9일
          option(value='10') 10일
          option(value='11') 11일
          option(value='12') 12일
          option(value='13') 13일
          option(value='14') 14일
          option(value='15') 15일
          option(value='16') 16일
          option(value='17') 17일
          option(value='18') 18일
          option(value='19') 19일
          option(value='20') 20일

  .actions
      button#post-task.btn.btn-primary.btn-lg.btn-block 숙소 목록 검색

ul.tasks

//- .no-task 
//-   .alert.alert-info 검색 결과가 없습니다.
//- script#task-template(type='text/template').
//-   <li class='task <%= doneStr %>' data-id='<%= id %>'>
//-     <span class='check'>
//-       <i class='fa fa-check fa-lg'></i>
//-     </span>
//-     <span class='content'><%=content %></span>
//-     <% if (category) { %>
//-       <span class='label label-default category'> 
//-         <%= category %>
//-       </span>
//-     <% } %>
//-     <span class='priority p<%= priority %>'>
//-       <%= (priority === 3) ? "중요" : ((priority === 1) ? "사소": "보통") %>
//-     </span>
//-     <a href='#' class='remove'><i class='fa fa-trash-o'></i></a>
//-   </li>
      
script.
  $(function() {
    var todo = new TaskController();    
  });
